{{> include/header }}
<h1>Gestion d'items</h1>
{{#msg}}
    {{> include/message }}
{{/msg}}
<div class="ui top attached tabular menu">
    {{#categories}}
    <a class="item" data-tab="{{label}}">{{label}}</a>
    {{/categories}}
</div>
{{#categories}}
    <div class="ui bottom attached tab segment" data-tab="{{label}}">
        {{#insertable}}
        <a class="ui orange button" href="/new/{{label}}">Ajouter un item...</a>
            {{#clearable}}
            <a class="ui red button" href="/clear/{{label}}">
                <i class="ui remove icon"></i>
                Vider la liste {{label}}
            </a>
            {{/clearable}}
        {{/insertable}}
        {{^insertable}}
            {{#clearable}}
        <a class="ui red button" href="/clear">
            <i class="ui remove icon"></i>
            Vider toutes les listes
        </a>
            {{/clearable}}
        {{/insertable}}
    <div class="ui middle aligned divided list">
        {{#items}}
            <div class="item">
                <div class="right floated content">
                    <a class="ui circular mini icon button" href="/inc/{{label}}/{{nom}}"><i class="ui plus icon"></i> </a>
                    <a class="ui circular mini icon button" href="/dec/{{label}}/{{nom}}"><i class="ui minus icon"></i> </a>
                </div>
                <div class="middle aligned content">
                        <a class="header" href="/update/{{label}}/{{nom}}">{{nom}}</a>
                        <div class="description">
                            {{#notZero}}
                                <span class="ui rating" data-rating="{{evaluation}}" data-max-rating="{{evaluation}}"></span>
                            {{/notZero}}
                            {{^notZero}}
                                <i class="ui window minimize icon"></i>
                            {{/notZero}}
                        </div>
                </div>
            </div>
        {{/items}}
    </div>
</div>
{{/categories}}
{{> include/footer }}
<script>
    $(".ui.rating").rating();
    $(".menu .item").tab({autoTabActivation: {{#category}}'{{.}}'{{/category}}{{^category}}true{{/category}} });
</script>