{{> include/header }}
<h1>Gestion d'items</h1>
<h2>Item</h2>
<h3>{{category}}</h3>

<form class="ui form" method="post" action="{{url}}">
{{#item}}
    <input type="hidden" name="id" value="{{nom}}">
    <input class="ui input" type="text" value="{{nom}}" name="nom" placeholder="Nom de l'élément" required>
    <input class="ui input" type="number" min="0" max="10" value="{{evaluation}}" name="evaluation" disabled>
{{/item}}
{{^item}}
    <textarea rows="10" name="nom" placeholder="Nom des éléments" required></textarea>
{{/item}}
    <hr>
    <button class="ui positive button" type="submit">Valider</button>
    <a href="/?category={{category}}" class="ui negative button">Annuler</a>
</form>
{{> include/footer }}